$background-white: #ffffff;
$background-grey: #fafafa;
$gradient-um: #da3394;
$gradient-dois: #e03c67;
$gradient-tres: #f3753b;
$gradient-quatro: #f99b4a;
$font-color-um: #262626;
$font-color-dois: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #dbdbdb;
$border-color-grey-dois: #efefef;
$link-color: #0095f6;
$link-color-dois: #b3dffc;
$font: "Montserrat", sans-serif;
